.vc-popover-content-wrapper .vc-container {
    background-color: rgba($color: #0f1215, $alpha: 1) !important;
    min-width: 300px;
    width: auto !important;
    font-family: 'Rubik';
    font-weight: 400;
    font-style: normal;
    border-radius: 2px;
    border: 1px solid #16263d;

    .vc-nav-popover-container {
        background-color: rgba($color: #0f1215, $alpha: 1) !important;
        font-family: 'Rubik';
        font-weight: 400;
        color: #627ca3;

        .vc-nav-header {
            * {
                color: #627ca3;
                font-family: 'Rubik';
                font-weight: 400;
            }
        }
        .vc-nav-item:focus {
            outline: none;
            border: none;
        }
    }

    .vc-header {
        padding: 1rem 1rem 0.75rem;

        .vc-title {
            text-transform: capitalize;
            color: #627ca3;
            font-size: 1rem;
            font-weight: 400;
        }
    }

    .vc-arrows-container {
        padding: 1rem 1rem 0.75rem;

        .vc-arrow:hover {
            background: #627ca3;
            color: white;
        }
    }

    .vc-weekday {
        color: #627ca3;
        font-size: 0.875rem;
        font-weight: 400;
    }

    .vc-day-content {
        color: #627ca3;
        font-size: 0.875rem;
        opacity: 0.5;
        font-weight: 400;
    }
}

.vc-popover-caret {
    display: none !important;
}
